/* Custom Style for Clip Smarter */

.hero-unit {
	background-color: white;
	border: 1px solid #aaa; 
	box-shadow: 4px 5px 5px #aaa;
}

.nav-tabs > li > a {
	font-size: 16px;
}

.navbar-search .search-query {
    padding-left: 29px;
    background-image: url(../img/magnifier-black-blue-small.png);
    background-repeat: no-repeat;
    background-position: 8px 5px;
    background-size: 18px 18px;
}

.navbar-icon {
    width: 16px;
    height: 16px;
}

#stripheader1 {
	height: 60px;
	padding: 10px 30px 0 0;
	text-align: right;
}

#stripheader1 a {
	font-size: 14px;
	margin: 0px 16px 0 0;
	color: #666;
}

#headercslogo {
	float:left;
	height: 60px;
	max-width: 200px;
  padding: 0 0 0 40px;
    margin: 0;
}

#headersocial a {
	margin: 0 4px 0 0 ;
}


#stripheader1 #cs-tagline {
	float:left;
	font-style: italic;
	color: #57b;
    margin: 13px 0 0 0;
    font-weight: bold;
}


.footer {
		text-align: center;
		margin: 30px auto 10px auto;
    width: 75%;
}


.footer a {
	margin: 0 auto 0 0px;
	font-size: 13px;
	color: #666	;
	
}

.footer .footer-header {
	font-size: 15px;
	font-weight: bold;
	color: #555;
    text-transform: uppercase;
}


/**********************************/
/* for page curling only       ****/

.page-curl {
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	position: relative;
	
}

.page-curl:before, .page-curl:after {
	background: none;
	bottom: 12px;
	-moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	content: "";
	height: 10px;
	left: 12px;
	position: absolute;
	width: 40%;
	z-index: -1;
	-moz-transform: skew(-4deg) rotate(-4deg);
	-webkit-transform: skew(-4deg) rotate(-4deg);
	transform: skew(-4deg) rotate(-4deg);
}

.page-curl:after {
	-moz-transform: skew(4deg) rotate(4deg);
	-webkit-transform: skew(4deg) rotate(4deg);
	transform: skew(4deg) rotate(4deg);
	left: auto;
	right: 12px;
}

.page-curl.shadow-left {
	background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 50%) !important;
	background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 50%) !important;
	background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 50%) !important;
	background: linear-gradient(0deg, #F5F5F5 0%, #FFF 50%) !important;
}

.page-curl.shadow-right {
	background: -moz-linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
	background: -ms-linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
	background: -webkit-linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
	background: linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
}

.shadow-bottom:before, .shadow-bottom:after {
	top: auto;
	bottom: 5px;
	-moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.5);
}

.shadow-left:after {
	display: none;
}

.shadow-right:before {
	display: none;
}

.shadow-top-bottom.shadow-left:after {
	display: block;
	bottom: auto;
	top: 15px;
	right: auto;
	left: 12px;
	-moz-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
}

.shadow-top-bottom.shadow-right:before {
	display: block;
	bottom: auto;
	top: 15px;
	right: 12px;
	left: auto;
	-moz-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
}

/*******************************************/
/****  for Company Deal page         *******/

/** for Company/Store Description  **/

.cs-main-container {
}

#store-hero-section {
    height: 280px;
    margin: 0 auto;
    float: none;
    width: 95%;
}

#store-hero-carousel {
/*    width: 560px; */
    height: 260px;
    border: 1px solid #aaa;
    padding: 2px;
    margin: 0 20px 0 20px ;
}


/*
.carousel-inner { text-align: center; }
*/

.carousel .item > img { display: inline-block; }


/* The following custom settings makes the images fill the carousel container div */
.carousel-inner .item {
    overflow: hidden;
    width: auto;
    height: 260px;
}

#store-hero-carousel img {
    width: 100%;
}

.submit-cpn-section {
    border: 1px solid #aaa;
    margin: 0 0 0 0px;
    padding: 2px;
    width: auto;
    height: 260px;
}

.clear-float {
    clear:both;
}
/*
#store-hero-section {
	border: 1px solid #ccc;
	background: #fefefe; 
	height: auto;
	width: 800px;
	padding: 10px;
	margin: 0 auto;
	float: none;	
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px;
	box-shadow: 4px 5px 5px #aaa;	
}

*/

/* old, not used anymore
.store-hero-logo {
}

.store-hero-desc {
	line-height: 1em;
	font-size: 13px;
	color: #666;
}
.short-text {
    overflow: hidden;
    height: 8em;
}
 
.full-text{
    height: auto;
}
*/

/** for Coupon tiles **/

.cpn-title {
	text-transform:uppercase;
	color: #577;
}

.cpn-desc {
	font-size: 13px;
	margin: 0 0 0 5px;
	/*
	float: right;
	max-width: 280px;
*/
}

.cpn-clip {
	background: #FFFFFF;
	background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	border: 1px dashed #ccc; 
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px;

	margin: 15px 0px 20px 35px;
	padding: 5px 10px 10px 10px;
	color: #555;
}


.cpn-row {
	margin: 0 auto;
    width: 95%;
	clear: both;
}


.does-it-work {
	font-size: 12px;
	font-weight: bold;
	background: #eda;
	border: 1px solid #aaa;
	float: left;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 5px;
	padding: 2px 2px 2px 2px;
	text-align: center;
	margin: 2px 20px 10px 10px;

	-moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
}

.does-it-work-btn-container {
	margin: 0px 0px 0px 0px;
	padding: 0;
	
}

.does-it-work-btn {
	width: 22px;
	margin: 0;
	float: left;
	
}

hr{
	border: 0;
	height: 1px;
	background: #777;
  background-image: -webkit-linear-gradient(left, #ccc, #777, #ccc); 
  background-image:    -moz-linear-gradient(left, #ccc, #777, #ccc); 
  background-image:     -ms-linear-gradient(left, #ccc, #777, #ccc); 
  background-image:      -o-linear-gradient(left, #ccc, #777, #ccc); 
	margin: 5px 0 3px 0;
}

.does-it-work-rating {
	font-size: 18px;
	color: #575;
	font-weight: bold;
}

.does-it-work-success {
	font-size: 13px;
	color: #575;
	font-weight: bold;
	
}

.section-header {
	font-family: "Georgia", "Times New Roman", times;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	margin: 40px auto 10px auto;
	text-align: center;
	color: #444;
}

.btn-green {
    color: white;
     background-color: #069C06;
     background-image: linear-gradient(top, #45E86B 0%, #58BF58 6%, #069C06 62%);
     background-image: -o-linear-gradient(top, #45E86B 0%, #58BF58 6%, #069C06 62%);
     background-image: -moz-linear-gradient(top, #45E86B 0%, #58BF58 6%, #069C06 62%);
     background-image: -webkit-linear-gradient(top, #45E86B 0%, #58BF58 6%, #069C06 62%);
     background-image: -ms-linear-gradient(top, #45E86B 0%, #58BF58 6%, #069C06 62%);

     background-image: -webkit-gradient(
     	linear,
     	left top,
     	left bottom,
     	color-stop(0, #45E86B),
     	color-stop(0.06, #58BF58),
     	color-stop(0.62, #069C06)
     );
}

.cpn-activate {
	float: right;
 }

.btn-green:hover,
.btn-green:active {
  background-color: #069C06; /* custom */
 *background-color: #069C06; /* custom */
}

.last-used {
	font-size: 12px;
	margin: 10px 0 0 0;
	color: #688;
	float: left;
}

.section-header hr {
  border: 0;
  height: 1px;
	background: #777;
  background-image: -webkit-linear-gradient(left, #ccc, #777, #ccc); 
  background-image:    -moz-linear-gradient(left, #ccc, #777, #ccc); 
  background-image:     -ms-linear-gradient(left, #ccc, #777, #ccc); 
  background-image:      -o-linear-gradient(left, #ccc, #777, #ccc); 
	margin: 15px 0 15px 0;
}

/** For clip popup **/

.clip-popup-title {
	font-size: 16px;
}


.clip-popup {
	width: 400px;
	background: #fff9c6;
}

.clip-popup hr {
	margin: 2px 0 2px 0;
}


.clip-popup .icon-remove{
	float: right;
	cursor: hand; 
	cursor: pointer;	
}

.sharing {
	float: left;
	vertical-align: middle;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 0 10px;
	color: #577;
}

.sharing img {
	width: 20px;
	height: 20px;
}


/** For Homepage **/
.home-hero-img {
   position: relative;
   width: 100%; /* for IE 6 */
}

.home-hero-input-area {
    position: absolute;
    top: 250px;
    left: 75%;
    width: 1000px;
    margin-left: -500px;
    z-index: 2;

}

.home-hero-input-area label {
    font-size: 30px !important;
    color: white;
    font-weight: bold;
    text-shadow:  0px 0px 70px black, 0px 0px 20px #777, 0 0 .1em black;

}

.home-hero-input-border-outer {
/*    border: 1px solid #444; */
    border-radius: 4px;
    padding: 8px 6px 12px 6px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow:   0px 0px 30px #444, 0 0 .1em #777;
    margin-left: -5px;
/*
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
    */
}

.home-hero-btn {
    background-color: #ffcc00;
    background-image: -moz-linear-gradient(top, #ffcc00, #ee8800);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffcc00), to(#ee8800));
    background-image: -webkit-linear-gradient(top, #ffcc00, #ee8800);
    background-image: -o-linear-gradient(top, #ffcc00, #ee8800);
    background-image: linear-gradient(to bottom, #ffcc00, #ee8800);
    border-color: #ffee00 #ffee00 #b3a700;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);


}

.home-hero-input-area input {
    font-size: 16px;
    color: #444;
    border-radius: 3px;

    /*
    border-radius: 10px;
    border: 3px solid #533; */
/*    border: 5px black; */
/*    box-shadow:   0px 0px 30px #777, 1px 1px #ccc, -1px -1px #666, -3px 0 #555, 0 3px #555,
          3px 0 #555, 0 -3px #555; */

}


.home-hero-text {
    color: white;
    text-shadow:  0px 0px 90px black, 0px 0px 30px #777, 0 0 .1em black;
/*    text-shadow: 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    font-size: 60.5px;
    font-weight: bold;
}

